.button {
    background-color: rgb(75, 59, 59);
    min-width: 100px;
    padding: 0 16px;
    line-height: 36px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    color: white;
    transition: background-color 0.7s;
}
.button:hover{
    background-color: rgb(90, 85, 85);
}
.button:disabled{
    background-color: rgb(241, 240, 240);
}
