
.iconSuccess {
    background-color: rgb(69, 184, 69);
}
.iconUnsuccess {
    background-color: rgb(228, 82, 82);
}
.iconDefault {
    background-color: rgb(228, 222, 222);
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 32px;
    width: 55px;
    height: 55px;
    font-size: 26px;
}